.hero {
  min-height: calc(100vh - 5rem);
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../../assets/images/mainBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryDarkColor);
}
.banner {
  margin-top: 5rem;
  width: var(--smallWidth);
  max-width: var(--maxWidth);
}
.hero h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.hero p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1.75rem;
}
.btn-hero {
  border-radius: 0;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  background: var(--primaryDarkColor);
  border-color: var(--primaryDarkColor);
}
.btn-hero:hover {
  color: var(--primaryDarkColor);
}
