<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/web-worker">WebWorker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/regex-validations">Regex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skelton-loader">SkeletonLoader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sweet-alert">SweetAlert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pdf-viewer">PdfViewrer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/qr-code">QRCode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clipboard">Clipboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lazy">LazyModule</a>
        </li>
      </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="text-center">
        <router-outlet></router-outlet>
    </div>
  
</main>
