<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-navbar" aria-controls="app-navbar"
    [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="app-navbar" class="navbar-collapse" [ngClass]="{'collapse': isCollapsed}" [@openClose]="isCollapsed ? 'collapsed' : 'expanded'">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/web-worker">WebWorker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/regex">Regex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/skeleton">SkeletonLoader</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/sweetalert">SweetAlert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/pdf">PdfViewrer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/qrcode">QRCode</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/features/clipboard">Clipboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lazy">LazyModule</a>
        </li>
      </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <router-outlet></router-outlet>
    </div>

</main>
