<div>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="simpleAlert()">simpleAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showErrorAlert()">showErrorAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showSuccessAlert()">showSuccessAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showInfoAlert()">showInfoAlert</button>
</div>

<div>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showWarningAlert()">showWarningAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showQuestionAlert()">showQuestionAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="handleWarningAlert()">handleWarningAlert</button>
    <button type="button" class="btn btn-primary mr-1 mb-1" (click)="showAlertWithFooter()">showAlertWithTimerFooter</button>
</div>